body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
#user:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}